<?xml version="1.0"?>
<!--
/**
 * Maverick_Crawler Extension
 *
 * NOTICE OF LICENSE
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 * @version     0.1.0
 * @category    Maverick
 * @package     Maverick_Crawler
 * @author      Mohammed NAHHAS <m.nahhas@live.fr>
 * @copyright   Copyright (c) 2014 Mohammed NAHHAS
 * @licence     OSL - Open Software Licence 3.0
 *
 */

/**
 * Configuration XML
 */
-->
<config>
    <modules>
        <Maverick_Crawler>
            <version>0.1.0</version>
        </Maverick_Crawler>
    </modules>
    <global>
        <models>
            <maverick_crawler>
                <class>Maverick_Crawler_Model</class>
                <resourceModel>maverick_crawler_resource</resourceModel>
            </maverick_crawler>
            <maverick_crawler_resource>
                <class>Maverick_Crawler_Model_Resource</class>
                <entities>
                    <crawler>
                        <table>maverick_crawler_entity</table>
                    </crawler>
                    <type_category>
                        <table>maverick_crawler_category</table>
                    </type_category>
                </entities>
            </maverick_crawler_resource>
        </models>
        <blocks>
            <maverick_crawler>
                <class>Maverick_Crawler_Block</class>
            </maverick_crawler>
        </blocks>
        <helpers>
            <maverick_crawler>
                <class>Maverick_Crawler_Helper</class>
            </maverick_crawler>
        </helpers>
        <resources>
            <maverick_crawler_setup>
                <setup>
                    <module>Maverick_Crawler</module>
                </setup>
            </maverick_crawler_setup>
        </resources>
        <events>
            <crawler_type_category_save_after>
                <observers>
                    <maverick_crawler_categories_linkage>
                        <type>model</type>
                        <class>maverick_crawler/observer</class>
                        <method>saveCategories</method>
                    </maverick_crawler_categories_linkage>
                </observers>
            </crawler_type_category_save_after>
            <crawler_type_category_save_before>
                <observers>
                    <maverick_crawler_format_categories>
                        <type>model</type>
                        <class>maverick_crawler/observer</class>
                        <method>setCategoryIds</method>
                    </maverick_crawler_format_categories>
                </observers>
            </crawler_type_category_save_before>
            <crawler_type_category_load_after>
                <observers>
                    <maverick_crawler_load_categories>
                        <type>model</type>
                        <class>maverick_crawler/observer</class>
                        <method>loadCategories</method>
                    </maverick_crawler_load_categories>
                </observers>
            </crawler_type_category_load_after>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Maverick_Crawler>
                    <files>
                        <default>Maverick_Crawler.csv</default>
                    </files>
                </Maverick_Crawler>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <maverick_crawler before="Mage_Adminhtml">Maverick_Crawler_Adminhtml</maverick_crawler>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <!-- Mapping Crawler Types -->
    <crawler>
        <entities>
            <category>
                <label>Catalog Category</label>
                <class>crawler_type_category</class>
                <action>categories</action>
            </category>
        </entities>
    </crawler>
</config>